*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(5, 5, 47);
}

#grid {
    width: 700px;
    height: calc(100vh - 85px);
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid transparent;
    
}

.game-menu{
    height: 50px;
    padding: 10px 5px;
    text-align: center;
    color:white;
    cursor: pointer;
}

.cell {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(5, 5, 47);
    cursor: pointer;
}

/* Sfondi colore celle */
.cell.bg-blue{
    background-color: rgb(35, 80, 195);
    color: white;
    cursor: pointer;
}

.cell.bg-red {
    background-color: red;
    color: white;
    cursor: pointer;
}

/* Divisione celle griglia */
.cell.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.cell.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.cell.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.noClick {
    pointer-events: none;
}


/* messaggi Alert */
.game-alert{
    background-color: rgba(182, 14, 14, 0.455);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.game-alert-message{
    font-size: 70px;
    font-weight: 800;
    padding: 20px;
}